<p class="alignL text-danger small">※値引きや明細変更時のダウンロード商品計算は、自動では行われません。</p>
<dl id="product_info_result_box__downloadproduct_summary" class="dl-horizontal">
    <dt id="product_info_result_box__downloadproduct_use">利用ダウンロード商品&nbsp;:</dt>
    <dd>{{ form_widget(form.use_downloadproduct) }}{{ form_errors(form.use_downloadproduct) }}</dd>
    <dt id="product_info_result_box__downloadproduct_add">加算ダウンロード商品&nbsp;:</dt>
    <dd>{{ form_widget(form.add_downloadproduct) }}{{ form_errors(form.add_downloadproduct) }}</dd>
</dl>
