<p id="cart_item__downloadproduct_info" class="message">
    ダウンロード商品制度をご利用になられる場合は、会員登録後ログインしてくださいますようお願い致します。<br/>
    ダウンロード商品は商品購入時に1pt＝<strong class="text-primary">{{ downloadproduct.rate|price }}</strong>として利用することができます。
</p>

