<p id="cart_item__dataimport_info" class="message">
    データインポート制度をご利用になられる場合は、会員登録後ログインしてくださいますようお願い致します。<br/>
    データインポートは商品購入時に1pt＝<strong class="text-primary">{{ dataimport.rate|price }}</strong>として利用することができます。
</p>

