<p class="alignL text-danger small">※値引きや明細変更時のポイント計算は、自動では行われません。</p>
<dl id="product_info_result_box__dataimport_summary" class="dl-horizontal">
    <dt id="product_info_result_box__dataimport_use">利用ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.use_dataimport) }}{{ form_errors(form.use_dataimport) }}</dd>
    <dt id="product_info_result_box__dataimport_add">加算ポイント&nbsp;:</dt>
    <dd>{{ form_widget(form.add_dataimport) }}{{ form_errors(form.add_dataimport) }}</dd>
</dl>
